.reviews{
   display: flex;
   flex-direction:column ;
   align-items: flex-start;
   gap: 15px;
}
.reviews button{
    background-color: rgb(3, 150, 3);
    padding: 8px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}